:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
}

.block-content {
  position: relative;
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
}

.mobile-display {
  display: none;
}

@media (max-width: 767px) {
  .mobile-display {
    display: block;
  }

  .default-display {
    display: none;
  }
}
